do_token              = ""
domain                = "fair.example.com"
letsencrypt_email     = ""

mlflow_admin_user     = "admin"
mlflow_admin_password = ""
zenml_admin_user      = "default"
zenml_admin_password  = ""

# Optional (defaults shown)
# cluster_name    = "fair"
# region          = "nyc3"
# infra_node_size = "s-2vcpu-4gb"
# ml_node_size    = "s-4vcpu-8gb"
# ml_max_nodes    = 5
